from aoc import utils


inputdata = utils.get_day_data({{ day }}, test_data=True)


@utils.time_func
def part1() -> int:
    return 0


@utils.time_func
def part2() -> int:
    return 0


utils.print_result(F'Part 1 answer: {part1()}')
utils.print_result(F'Part 2 answer: {part2()}')
